<div class="layout-principal" [class.modo-acceso-total]="mostrarSoloAcceso">
  
  <app-encabezado [enPantallaAcceso]="mostrarSoloAcceso"></app-encabezado>

  <div class="contenedor-cuerpo-app">
    
    <app-barra-lateral *ngIf="!mostrarSoloAcceso"></app-barra-lateral>

    <main class="contenido-principal">
      
      <div class="zona-vistas-nudo">
        <app-acceso *ngIf="mostrarSoloAcceso"></app-acceso>
        <router-outlet *ngIf="!mostrarSoloAcceso"></router-outlet>
      </div>

      <app-pie-de-pagina [enPantallaAcceso]="mostrarSoloAcceso"></app-pie-de-pagina>
      
    </main>
  </div>
</div>