/* app.component.scss */
.layout-nudo {
  display: grid;
  grid-template-columns: 280px 1fr; // Barra lateral fija
  grid-template-rows: auto 1fr auto; // Header, Contenido, Footer
  height: 100vh;
  background-color: #f4f7f9; // Fondo gris muy tenue profesional

  &.modo-acceso {
    grid-template-columns: 1fr; // Sin barra lateral en login
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eef2f5;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 2rem;
}